@import "tailwindcss";

:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-bg-primary: #eeebdc;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility container {
    @apply w-full h-screen max-w-screen-2xl mx-auto;
}

#loading_screen {
    @apply overflow-hidden;
}

.loading_half {
    @apply absolute w-screen h-[50vh] bg-black flex items-center justify-center;
}

.loading_half.upper {
    @apply top-0 left-0;
}

.loading_half.lower {
    @apply bottom-0 left-0;
}