@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@font-face {
    font-family: 'Amiamie';
    src: url('./assets/fonts/Amiamie.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-amiamie: 'Amiamie', sans-serif;
}

:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-bg-primary: #eeebdc;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility container {
    @apply w-full h-screen max-w-screen-2xl mx-auto;
}

#loading_screen {
    @apply overflow-hidden;
}

.loading_half {
    @apply absolute w-screen h-[50vh] bg-black flex items-center justify-center;
}

.loading_half.upper {
    @apply top-0 left-0;
}

.loading_half.lower {
    @apply bottom-0 left-0;
}