@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@font-face {
    font-family: 'Amiamie';
    src: url('./assets/fonts/Amiamie.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-amiamie: 'Amiamie', sans-serif;
}

:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-bg-primary: #eeebdc;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility flex-top {
    @apply flex items-start justify-center;
}

@utility container {
    @apply w-full mx-4 md:mx-8 lg:mx-12;
}

@utility text-stretch {
    font-size: clamp(2rem, 12vw, 20rem);
    letter-spacing: 0.02em;
    line-height: 1;
    white-space: nowrap;
    font-weight: 600;
    font-family: var(--font-amiamie);
}

